{% extends "base/center_body.html" %}
{% load crispy_forms_tags %}
{% load gloval_tags %}
	{% block contend %}
		<div class="card">
			<div class="card-header">
				{% block name %}

				{% endblock name %}
				{% block headextra %}
					
				{% endblock headextra %}
			</div>
			<div class="card-body">
				{% block bodyform %}
					<form  method="post" class="form" enctype="multipart/form-data">
						{% csrf_token %}

						{% block bodydelete %}
							
						{% endblock bodydelete %}
						
						{{ form|crispy }}
						<div class="d-flex justify-content-center">
							<button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
						</div>
					</form>
				{% endblock bodyform %}
			</div>
		</div>
		{% block extra %}
			
		{% endblock extra %}
	{% endblock contend %}
