{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DPU</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<script src="https://kit.fontawesome.com/9328387887.js" crossorigin="anonymous"></script>
		<script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
		<link href="https://fonts.cdnfonts.com/css/times-new-roman" rel="stylesheet">
	</head>
	<body>
		{% block wave %}
			{% include "base/wave.html" %}
		{% endblock wave %}

		{% block navbar %}
			{% include 'base/nav_bar.html' %}
		{% endblock navbar %}	
		
		{% block body %}
			
		{% endblock body %}
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
		<script src="{% static 'scripts.js' %}"></script>

		{% block scripts %}
			
		{% endblock scripts %}
		
		<script>
			tinymce.init({
				selector: 'textarea',
				//plugins: 'advlist link image lists',
				language: 'es',
				plugins: [
					'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
					'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
					'insertdatetime', 'media', 'table', 'help', 'wordcount'
				],
				toolbar: 'undo redo | blocks | ' +
				'bold italic backcolor | alignleft aligncenter ' +
				'alignright alignjustify | bullist numlist outdent indent | ' +
				'removeformat | help',
				license_key: 'gpl'
			});
			document.querySelectorAll('textarea').forEach(elemt=>{
				elemt.required = false;
			});
		</script>

		<script>
			have_search = new URLSearchParams(window.location.search);
			if(have_search.get("search")){
				document.getElementById("search-form").value = have_search.get("search");
			}
			console.log(have_search.get("search"));
		</script>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3NJXM405CD"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-3NJXM405CD');
		</script>
	</body>
</html>
