<nav class="navbar navbar-expand-lg bg-personal" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Planificacion</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
	        <span class="navbar-toggler-icon"></span>
	     </button>
		<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
			<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
        	{% comment %}
        		
        	{% endcomment %}
			<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
				<li class="nav-item">
					<a class="nav-link" target="_blank" aria-current="page" href="#">Nosotros</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					    Paginas de Interés
					</a>
					<ul class="dropdown-menu">
						{% for p in request.paginas %}
							<li><a class="dropdown-item" href="{{ p.url }}"><i class="fa-solid fa-globe"></i> {{ p.nombre }}</a></li>
						{% endfor %}
					</ul>
				</li>

				{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						    Opciones
						</a>
						<ul class="dropdown-menu">
							{% if perms.users.extras %}
								<li><a class="dropdown-item" href="{% url 'extras:list_paginas' %}">Lista de Paginas</a></li>
							{% endif %}
						    
						    <li><a class="dropdown-item" href="#">Another action</a></li>
						    <li>
						      <hr class="dropdown-divider">
						    </li>
						    <li>
								<form action="{% url 'users:logout' %}" method="post">
									{% csrf_token %}
									<a class="dropdown-item" onclick="this.closest('form').submit();return false;">
										<i class="fa-solid fa-right-from-bracket"></i> Salir
									</a>
								</form>
							</li>
						</ul>
					</li>
				{% endif %}

			</ul>

			<form class="d-flex mt-3 mt-lg-0" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>

        </div>
      </div>
    </div>
</nav>
