{% extends "base/base_form.html" %}
{% load crispy_forms_tags %}
	{% block name %}
		<h2 class="text-center">Login</h2>
	{% endblock name %}

	{% block bodyform %}
		{% if form.errors %}
	        <div class="alert alert-danger" role="alert">
	            Tu nombre de usuario y contraseña no se encontraron. Por favor intenta denuedo.
	        </div>
		{% endif %}

		{% if next %}
		    {% if user.is_authenticated %}
		        <div class="alert alert-danger" role="alert">
		            Tu cuenta no tiene acceso a esta pagina. Por favor pide los permisos necesarios al administrador inicia cesión con otra cuenta.
		        </div>
		    {% else %}
		        <div class="alert alert-danger" role="alert">
		            Por favor inicie cesión para mirar esta pagina.
		        </div>
		    {% endif %}
		{% endif %}

		<form method="post" action="{% url 'users:login' %}">
		    {% csrf_token %}
		    <div class="mb-3">
		        <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Nombre de usuario">
		    </div>
		    <div class="mb-3">
		        <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="contraseña">
		    </div>
		    <input type="hidden" name="next" value="{{ next }}">
		    <div class="mb-3">
		        <div class="col-md-12">
		            <input class="btn btn-primary" style="width: 100%;" type="submit" value="Login">
		        </div>
		    </div>
		</form>
	{% endblock bodyform %}
