{% extends 'base/base_main.html' %}
{% load static %}
    {% block body %}
        {% comment %} Carrousel {% endcomment %}

        <div class="gallery js-flickity mt-1" data-flickity-options='{ "wrapAround": true, "autoPlay": true }'>

            {% for c in carousel %}
                 <div class="gallery-cell">
                    <a href="#">
                        <img src="{{ c.archivo_set.all.0.archivo.url }}" alt="Image 1">
                        <div class="overlay">
                            <div class="overlay-content">{{ c.titulo }}</div>
                            <div class="overlay-content">{{ c.resumen }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% comment %} Cajones izquierda {% endcomment %}
        <div class="contenedor-cajones mt-3">
            <div class="contenedor-cajon-izquierda">
                <div class="titulo-cajon">
                    <h1>titulo</h1>
                </div>
                <div class="cajon-izquierda">       
                    {% for i in in_main %}
                   
                        {% if i.publicacion_set.first.id|divisibleby:2 %} 
                        <div class="articulos arti-estilo not-cart mini-art">
                            <h3>
                                <time>{{ i.publicacion_set.first.modificado|date:"d \d\e F \d\e Y \a \l\a\s H:i"}}</time>
                                <a class="text-noticias-titulo" href="/noticias/publicacion/{{ i.publicacion_set.first.id }}/">{{ i.publicacion_set.first.titulo }}</a>
                            </h3>
                            <div>
                                {% for tipo in i.publicacion_set.first.tipo.all %}
                                    <span class="badge bg-primary" style="font-size: 0.5rem;">{{ tipo.tipomaestro.nombre }} - {{ tipo.nombre }}</span>
                                {% endfor %}
                            </div>
                            <h4>
                                <blockquote class="resaltado text-noticias">{{ i.publicacion_set.first.resumen }}</blockquote>
                            </h4>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    
            {% comment %} Cajones Derecha {% endcomment %} 
            <div class="contenedor-cajon-derecha">
                <div class="titulo-cajon">
                    <h1>Titulo</h1>
                </div>
                <div class="cajon-derecha">
                    {% for i in in_main %}
                        {% if not i.publicacion_set.first.id|divisibleby:2 %}
                        <div class="articulos arti-estilo not-cart mini-art">
                            <h3>
                                <time>{{ i.publicacion_set.first.modificado|date:"d \d\e F \d\e Y \a \l\a\s H:i"}}</time>
                                <a class="text-noticias-titulo" href="/noticias/publicacion/{{ i.publicacion_set.first.id }}/">{{ i.publicacion_set.first.titulo }}</a>
                            </h3>
                            <div>
                                {% for tipo in i.publicacion_set.first.tipo.all %}
                                    <span class="badge bg-primary" style="font-size: 0.5rem;">{{ tipo.tipomaestro.nombre }} - {{ tipo.nombre }}</span>
                                {% endfor %}
                            </div>
                            <h4>
                                <blockquote class="resaltado text-noticias">{{ i.publicacion_set.first.resumen }}</blockquote>
                            </h4>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock body %}